<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add album</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
    <link href="/css/navbar-top-fixed.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" >VinylStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
            <form class="d-flex" action="/login" method="get">
                <button class="btn btn-outline-success" type="submit">Log out</button>
            </form>
        </div>
    </div>
</nav>

<form class="container w-50" action="/manager/albums" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Artist name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="country" class="form-label">Artist country</label>
        <input type="text" class="form-control" id="country" name="country" required>
    </div>
    <div class="mb-3">
        <label for="album_name" class="form-label">Album name</label>
        <input type="text" class="form-control" id="album_name" name="album_name" required>
    </div>
    <div class="mb-3">
        <label for="album_price" class="form-label">Album price</label>
        <input type="number" class="form-control" id="album_price" name="album_price" required>
    </div>
    <div class="mb-3">
        <label for="year" class="form-label">Album year</label>
        <input type="number" class="form-control" id="year" name="year" required>
    </div>
    <div class="mb-3">
        <label for="genre" class="form-label">Album genre</label>
        <input type="text" class="form-control" id="genre" name="genre" required>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Add</button>
</form>


</body>
</html>