<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Log in</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
</head>

<body>
<div class="container container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" method="post" action="/login"><span class="contact100-form-title"></span>
            <div class="wrap-input100 validate-input" data-validate="Please enter your name"><input
                        class="form-control input100" type="text" name="login" placeholder="Login"><span
                        class="focus-input100"></span></div>
            <div class="wrap-input100 validate-input" data-validate="Please enter your email: e@a.x"><input
                        class="form-control input100" type="password" name="password" placeholder="Password"><span
                        class="focus-input100"></span></div>
            <div class="container-contact100-form-btn">
                <button class="btn btn-primary contact100-form-btn" type="submit"><span>Log in</span></button>
            </div>
        </form>
    </div>
</div>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>